.footer {
    width: 100%;
    height: 800px;
    background-color: black;
    /* border: 1px solid blue; */
}
.footer1 {
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
}
.footer2 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    color: white;
}
.footer3 > h1 {
    font-size: 25px;
    font-weight: 500;
}
.foot {
    display: flex;
    margin-top: 30px;
}
.foot1 {
    margin-top: 22px;
}
.foot1 > input {
    background-color: black;
    border: none;
    outline: none;
    font-size: 20px;
}
.foot1 > p {
    border: 1px solid white;
    margin-top: 8px;
}
.footer3 > p {
    margin-top: 50px;
    color: white;
    text-decoration-line: underline;
    font-size: 18px;
}
.foot2 {
    width: 80px;
    height: 60px;
    background-color: white;
    color: gray;
    margin-left: 10px;
}
.foot2 > P {
    text-align: center;
    margin-top: 17px;
    font-size: 20px;
}
.footer4 > h1 {
    font-size: 25px;
    font-weight: 500;
}
.footer4 > p {
    font-size: 18px;
    margin-top: 10px;
}
.footer5 > h1 {
    font-size: 25px;
    font-weight: 500;
}
.footer5 > p {
    font-size: 18px;
    margin-top: 10px;
}
.footer6 > h1 {
    font-size: 25px;
    font-weight: 500;
}
.footer6 > p {
    font-size: 18px;
    margin-top: 10px;
}
.footer7 {
    border: 1px solid white;
    
}
.footer9 {
    margin-top: 50px;
}
.footer9 > p:nth-child(1) {
    font-size: 18px;
    color: white;
}
.footer9 > p:nth-child(2) {
    font-size: 18px;
    color: white;
    margin-top: 20px;
}
